*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 750px;
    background-image: url(../images/b3.jpg);
    animation-name: imagechg;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-direction: linear;
    animation-iteration-count:infinite;
    background-repeat: no-repeat;
    background-size: cover;
}
.back-overlay{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 750px;
}
.header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: rgba(0,0,0,0.8);
    z-index: 997;
}
.logo{
    flex: 1;
    margin-top: 25px;
}
.nav-links{
    flex: 1;
    margin-top: 25px;
}
.nav-links ul{
    display: flex;
    justify-content: space-around;
}
.nav-links ul li{
    list-style: none;
    text-transform: capitalize;  
}
.nav-links ul li:hover{
    transition: all 0.4s ease;
    border-bottom: 1px solid white;
}
.nav-links ul li a{
    text-decoration: none;
     color: white;
}


.content{
    width: 80%;
    height: 350px;
    margin: auto;
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%,-40%);
}
.rent{
    margin: 20px;
    color: white;
    flex: 2;
}
.align h3{
    font-size: 20px;
    margin-top: 100px;
    text-transform: capitalize;
}
.align h1{
    font-size: 48px;
    text-transform: uppercase;
    margin-top: 15px;
}
.align h5{
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 50px;
}
.align span{
    border:1px solid yellow;
    padding: 20px 40px;
    background-color: #fab700;
}
.align span a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: black;
}
.align span:hover{
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #fab700;    
    color: white;
    transition: all 0.4s ease;
}
.align span:hover a{
    color: white;
}

.book{
    flex: 1;
}
.booking-form{
    border: 1px solid white;
    background-color: rgba(0,0,0,0.7);
}
.booking-form form{
    padding: 15px;
}
.booking-form form h5{
    margin-left: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}
.booking-form form input{
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
}
select{
    width: 40%;
    padding: 12px;
    margin-left: 15px;
    border-radius: 5px;
}
#size1{
    width: 45%;
}
#size2{
    width: 45%;
}
#size3{
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    margin-left: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #fab700;
    margin-bottom: 50px;
}

.container-2{
    width: 80%;
    margin: auto;
}
.container-2 .tagline{
    margin-top: 30px;
}
.tagline{
    text-align: center;
}
.tagline h1{
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}
.tagline h3{
    font-size: 16px;
    margin-top: 20px;
}

.services{
    width: 80%;
    margin: auto;
}
.services-block{
    margin-top: 65px;
    margin-bottom: 35px;
}
.services-1{
    display: flex;
    margin-bottom: 30px;
}
.service-1{
    flex: 1;
    width: 20%;
    padding: 5%;
    background-color: #f9f9ff;
}
.service-1 h3{
    margin-bottom: 15px;
}
.service-1:hover h3{
    transition: all 0.4s ease;
    color: #fab700; 
}
.service-1:hover{
    transition: all 0.4s ease;
    box-shadow: -20px 20px 20px gray;
}
.service-2{
    flex: 1;
    width: 20%;
     padding: 5%;
    background-color: #f9f9ff;
}
.service-2 h3{
    margin-bottom: 15px;
}
.service-2:hover h3{
    transition: all 0.4s ease;
    color: #fab700; 
}
.service-2:hover{
    transition: all 0.4s ease;
    box-shadow: -20px 20px 20px gray;
}
.service-3{
    flex: 1;
    width: 20%;
     padding: 5%;
    background-color: #f9f9ff;
}
.service-3 h3{
    margin-bottom: 15px;
}
.service-3:hover h3{
    transition: all 0.4s ease;
    color: #fab700; 
}
.service-3:hover{
    transition: all 0.4s ease;
    box-shadow: -20px 20px 20px gray;
}


.container-3{
    width: 100%;
    margin: auto;
}
.container-3 .container-3-block{
    margin-top: 150px;
    display: flex;
} 
.container-3-img{
    flex: 1;
}
.container-3-content{
    flex: 1;
}
.container-3-content .content-wrap{
    margin-top: 150px;
    margin-left: 50px;
}
.container-3-content h2{
    font-size: 45px;
    margin-bottom: 10px;
}
.container-3-content h5{
    font-size: 18px;
    margin-bottom: 10px;
}
.container-3-content p{
    font-size: 22px;
    margin-bottom: 20px;
}
#size4{
    border: 1px solid #fab700;
    padding: 15px 25px;
    background-color: #fab700;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}


.container-4{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.container-4 h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.container-4 p{
    text-align: center;
    margin-bottom: 20px;
}

.container-5{
    width: 80%;
    margin: auto;
}
.container-5-block{
    margin-top: 50px;
    display: flex;
    margin-bottom: 50px;
}
.container-5-name span{
    flex: 1;
}
.container-5-name h1{
    flex: 1;
    color: #fab700;
}
.container-5-name{
    display: flex;
}
.container-5-info p{
    margin-top: 25px;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.container-5-info span{
    font-size: 20px;
    text-transform: uppercase
}
#size5{
    border: 1px solid black;
    background-color: #222;
    padding: 15px 25px;
}
#size5:hover{
    transition: all 0.4 ease;
    color: #fab700;
    border-color: #fab700;
}
#size5:hover a{
     transition: all 0.4 ease;
     color: #fab700;
}
#size5 a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
/*unconditional style*/
.car-type{
    width: 100%;
}
.car-type-wrapper{
    width: 80%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;   
}
.type-A , 
.type-B ,
.type-C{
    border-radius: 5px;
    padding: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    }
.type-A img, 
.type-B img,
.type-C img{
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}
.type-A  a, 
.type-B  a,
.type-C  a{
    text-decoration: none;
    font-size: 20px;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.9);
    color: white;
}
.type-A  p, 
.type-B  p,
.type-C  p{
text-transform: capitalize;
}
.type-A:hover,
.type-B:hover,
.type-C:hover{
    transition: all 0.5s ease;
    box-shadow: -20px 20px 20px gray;
}
.type-A:hover h2,
.type-B:hover h2,
.type-C:hover h2{
    color: #fab700;
}
.type-A:hover a,
.type-B:hover a,
.type-C:hover a{
    color: #fab700;
    transition: all 0.4s ease;
    border: 1px solid #fab700;
}

/*styling with container-6*/
.container-6{
    width: 80%;
    margin: auto;
}
.container-6-block{
    margin-top: 25px;
}
.container-6-head{
    text-align: center;
}
.container-6-head h2{
     margin-bottom: 10px;
}
.container-6-teams{
    width: 80%;
    margin: auto;
}
.container-6-team{
    display: flex;
}
.container-6-team .team1,
.container-6-team .team2{
    flex: 1;
    padding: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f9f9ff;
    text-align: center;
    
}
.container-6-team .team1 h2,
.container-6-team .team2 h2{
    margin-bottom: 20px;
}
.container-6-team .team1:hover{
     transition: all 0.4s ease;
    box-shadow: -20px 20px 20px skyblue;
}
.container-6-team .team2:hover{
     transition: all 0.4s ease;
    box-shadow: -20px 20px 20px skyblue;
}


.container-7{
    background-image: url(../images/callaction-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
}
.container-7 h1{
    padding-top: 100px;
    color: white;
    margin-bottom: 20px;
}
.container-7 p{
    margin-bottom: 50px;
    color: white;
}
.container-7 a{
    text-decoration: none;
    border: 2px solid #fab700;
    padding: 10px 20px;
    background-color: #fab700;
}
.container-7 a:hover{
    transition: 0.4s;
    color: #fab700;
    background-color: rgba(0,0,0,0);
    border-color: #fab700;
}


.container-8{
    width: 80%;
    margin: auto;
}
.container-8-block{
    margin-bottom: 75px;
}
.container-8-heading{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.container-8-heading h1,.container-8-heading p{
    margin-bottom: 20px;
}
.container-8-blog{
    display:flex;
}
.container-8-blog .img{
    margin-bottom: 20px;
    width: 80%;
    transition: all 0.4 ease;
}
.container-8-blog .blog-1:hover img{
    transition: all 0.4s ease;
    width: 80%;
    transform: scale(1.1);
}
.container-8-blog .blog-2:hover img{
    transition: all 0.4s ease;
    width: 80%;
    transform: scale(1.1);
}
.container-8-blog .blog-3:hover img{
    transition: all 0.4s ease;
    width: 80%;
    transform: scale(1.1);
}
.container-8-blog .blog-4:hover img{
    transition: all 0.4s ease;
    width: 80%;
    transform: scale(1.1);
}
.container-8-blog span{
    background-color: black;
    color: white;
    padding: 5px;
}
.container-8-blog h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-8-blog .blog-1:hover h3{
    transition: all 0.4s ease;
    color: #fab700;
}
.container-8-blog .blog-2:hover h3{
    transition: all 0.4s ease;
    color: #fab700;
}
.container-8-blog .blog-3:hover h3{
    transition: all 0.4s ease;
    color: #fab700;
}
.container-8-blog .blog-4:hover h3{
    transition: all 0.4s ease;
    color: #fab700;
}
.container-8-blog p{
    margin-bottom: 25px;
}


footer{
    widows: 100%;
    background-color: #04091e;
    height: 450px;
}
.footer-block{
    width: 80%;
    margin: auto;  
}
.footer-block-wrap{
    display: flex;
    color: white;
}
.footer-block-wrap .links{
    flex: 1;
    margin-top: 100px;
}
.footer-block-wrap .links ul{
    list-style: none;
}
.footer-block-wrap .links ul li{
    margin-top: 15px;
}
.links h4{
    margin-top: 10px;
}
.links input{
    margin-top: 15px;
    padding: 5px;
}
.links span{
    padding: 6px;
    background-color: #fab700;
    color: white;
}

@keyframes imagechg{
    0%{
        background-image: url(../images/car1.png);
        background-size: cover;
    }
    20%{
        background-image: url(../images/car10.png);
        background-size: cover;
    }
    40%{
        background-image: url(../images/car11.png);
        background-size: cover;
    }
    60%{
        background-image: url(../images/car12.png);
        background-size: cover;
    }
    80%{
        background-image: url(../images/car14.png);
        background-size: cover;
    }
    100%{
        background-image: url(../images/b2.jpg);
        background-size: cover;
    }
    
}
